<%= stylesheet_link_tag "sessions", media: 'all' %>
<% if flash[:errors] %>
    <div class="ui error message ">
        <i class="close icon"></i>
        <% flash[:errors].each do |n| %>
            <ol><%= n %></ol>
        <% end %>
    </div>
<% end %>


<div id="wrapper">
    <div class="container main-container">
        <div class="session-form">
            <h2 class="ui fluid teal centered image header">
                <img src="../../../assets/lets-go-travel.jpg" class="ui image">
                Login to your account
            </h2>
            <form action="/sessions" method="post" class="ui form">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <div class="ui stacked segment form-fields">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="email" name="email" placeholder="Email">   
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="ui lock icon"></i>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <button class="ui fluid teal eight button" type="submit">Login</button>
                    <div class="ui error messages"></div>
                    <div class="ui button animation">
                        <a href="/users/new">
                            <div class="positive ui animated button">
                                <div class="visible content">Not regeistered?</div>
                                <div class="hidden content">Click here!</div>
                            </div>
                        </a>     
                    </div>
                </div>
            </form>     
        </div>
    </div>
</div>













<!-- <div class="ui container">
        <h1>Login</h1>
        <form action="/sessions" method="post" class="ui form">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <div class="ui one column stackable center aligned grid">
                <div class="one column six wide">
                    <div class="column">
                        <label for="email">Email:</label>
                        <input type="email" name="email" placeholder="Email">   
                    </div>     
                    <div class="column">
                        <label for="password">Password:</label>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <div class="column">
                        <button type="submit" class="fluid ui button">Log In</button> 
                    </div>
                </div>
            </div>
        </form> 
    </div>
    <div class="ui bottom attached button">
        <a href="/users/new">
            <div class="positive ui animated button">
                <div class="visible content">Not regeistered?</div>
                <div class="hidden content">Click here!</div>
            </div>
        </a>     
    </div> -->

<!-- <br><br>
<form action="/sessions" method="post" class="ui form">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div class="ui one column stackable center aligned page grid container">
        <div class="column eight wide">
            <div class="column">
                <label for="email">Email:</label>
                <input type="email" name="email" placeholder="Email">   
            </div>     
            <div class="column">
                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Password">
            </div>
        </div>
        <div class="column">
            <button type="submit">Log In</button> 
        </div>
    </div>
</form>  
<a href="/users/new">
    <div class="positive ui animated button">
        <div class="visible content">Not regeistered?</div>
        <div class="hidden content">Click here!</div>
    </div>
</a> -->
