<div class="container">
    <div class="row">
        <h1 class="col-8-med"><%=@event.name%></h1>
    </div>
    <div class="row">
        <h2 class="col-8-med">Host: <%=@event.user.first_name%> <%=@event.user.last_name%></h2>
    </div>
    <div class="row">
        <h2 class="col-8-med">Date: <%=@event.date.strftime("%B %d, %Y")%></h2>
    </div>
    <div class="row">
        <h2 class="col-8-med">Location: <%=@event.city%>, <%=@event.state%></h2>
    </div>
    <div class="row">
        <h2 class="col-8-med">People that are coming to the event: <%=@event.joins.count%></h2>   
    </div>
</div>



<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">State</th>
        </tr>   
        <tbody>
        <% @users.each do |u| %>
            <tr scope="row">
                <% if u.joining_event.ids.include? (@event.id) %>
                    <td><%=u.first_name%> <%=u.last_name%></td>
                    <td><%=u.city%></td>
                    <td><%=u.state%></td>
                <% end %>
            </tr>
        <% end %>
        </tbody> 
    </thead>
</table>
<br>
<h2>Discussion about the event:</h2>
<div style="border:solid blacks" >
    <% @messages.each do |m| %>
    <ul><%= m.user.first_name %> says: <%= m.content %></ul>
    --------------------
    <% end %>
    <br>
    <form action="/messages/<%= @event.id %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="message[event_id]" value="<%=@event.id%>">
        <input type="hidden" name="message[user_id]" value="<%= current_user.id %>">
        <textarea name="message[content]" cols="30" rows="10"></textarea>
        <br>
        <label for="comment">Add Comment:</label>
        <input type="submit" value="Submit Comment">
    </form>
</div>
    

<div class="ui container buttons">
  <button class="ui button">Cancel</button>
  <div class="or"></div>
  <button class="ui positive button">Save</button>
</div>    