<!DOCTYPE html>
<html>
<head>
	<title>Plan and Discover</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'favicon.ico' %>
	<%= csrf_meta_tags %>
</head>
<body>
	<!--NAVIGATION-->
		<nav id="navbar">
            <div class="container ui menu navbar-menu">
                <div class="logo">
                    <%= image_tag 'hoppier-brand.png', class:'logo' %>
                </div>
                <% if current_user %>
                    <div class="ui right menu">
                        <div class="item">
                            <a href="/events"><i class="calendar alternate outline icon"></i>Event Dashboard</a>
                        </div>
                        <div class="item">
                            <a href="/users/<%= current_user.id %>/edit"><i class="user circle outline icon"></i><%= current_user.first_name %></a>
                        </div>
                        <div class="item">
                            <form action="/sessions/<%=current_user.id%>" method="post">
                                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                <input type="hidden" name="_method" value="delete">
                                <button class="ui button" type="submit">Log Out</button>
                            </form>
                        </div>
                    </div>
                <% else %>
                <div class="right menu item">
                    <div class="ui  main-button buttons">
                        <button class="ui button sign-log-button"><i class="sign in icon"></i><a href="/sessions/new">Log In</a></button>
                        <div class="or sign-log-button"></div>
                        <button class="ui positive button sign-log-button"><i class="users icon"></i><a href="/users/new">Sign Up</a></button>
                    </div>
                </div>
                <% end %>
            </div>
		</nav>

		<%= yield %>

	<footer>
		<div id="footer">
			<div class="footer-content">
				<p>&copy;2019 Hoppier, Inc. All Rights Reserved.<a href="https://github.com/kenchose" target="_blank"><i class="ui github green icon contact-icon"></i></a><a href="https://www.linkedin.com/in/kenny-pham-2a5740101" target="_blank"><i class="ui linkedin icon contact-icon"></i></a><a href="https://plus.google.com/102171157736394833040" target="_blank"><i class="ui google plus red icon contact-icon"></i></a><a href="mailto:kennypm42@gmail.com" target="_blank"><i class="ui envelope outline icon contact-icon"></i></p> 
			</div>
		</div>        
	</footer>
	<!-- <script src="./../../../semantic/dist/semantic.min.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</body>
</html>
